html{
  margin:0px 50px 0px 50px;
}
body{
  background-image: url("https://res.cloudinary.com/dm4il5pzw/image/upload/v1597973863/bg-desktop_kbsrzi.svg");
  background-repeat: no-repeat;
  background-color: #674bb1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: white;
  margin: 0;
}
h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: white;
}
.container{
  display: grid;
/*  grid-template-columns: 2fr 1fr;*/
  justify-content: center;
  align-content: center;
  grid-column-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 2fr));
}
.logo{

}
.main_image{
  max-width: 100%;
  height: auto;
  display: grid;
  align-content: center;
  background-image: 413px 579px;
}
.grid_statement{
  display: grid;
  align-content: center;

}

.grid_image{
  display: grid;
  justify-content: center;

  grid-column: auto / span 2;
}
.submit{
  padding: 13px 60px 13px 60px;
  background-color: white;
  border-color: white;
  border-radius: 30px;
  color: #674bb1;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 2px 2px 2px 2px black;
  margin-top: 25px;
}
#social-icons ul{
 list-style-type: none;
 display: flex;
 justify-content: flex-end;
}
.icon1{
  padding-right: 30px;
}
.icon2{
padding-right: 30px;
}
.paragraph{
  font-size: 1em;
}
.heading{
  font-size: 2em;
}
@media (max-width: 768px){
  body{
    background-image: url("images/bg-mobile.svg");
    background-repeat: no-repeat;
  }
#social-icons ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
  }
.button{
  display: grid;
  justify-content: center;

}
.submit{
padding: 10px 70px 10px 70px;
}
.heading{
text-align: center;
}
.paragraph{
text-align: center;
}
html{
  margin: 20px;
}
}
